@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  nav {
    clip-path: polygon(6% 0, 100% 0, 100% 100%, 0 100%);
  }
  #logo {
    background-color: #ffffff00;
  }
}

@media (max-width: 768px) {
  nav.hidden {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@media (min-width: 768px) {
  #home-page {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0 100%);
  }
}

input:-webkit-autofill {
  @apply bg-secondary !important;
}
